:root {

--red: #FF0000;
--red_salmon: #FA8072;
--red_lightcoral: #F08080;
--red_darkred: #8B0000;


--orange: #FFA500;
--orange_tomato: #f76b1c;
--orange_orangered: #f76b1c;
--orange_darkorange: #FF8C00;
--orange_footer: #d08a35;


--green: #008000;
--darkgreen: #006400;
--lightgreen: #90EE90;
--limegreen: #32CD32;


--blue: #0000FF;
--darkblue: #5B9BD5;
--lightblue: #ADD8E6;
--skyblue: #87CEEB;
--lightskyblue :#87CEFA;
--deepskyblue: #00BFFF;
--gradient_blue: linear-gradient(45deg, rgba(9,173,234,0.045238078141412785) 0%, rgba(7,202,158,1) 0%, rgba(9,173,234,1) 100%);
--gradient_rev_blue: linear-gradient(-45deg, rgba(9,173,234,0.045238078141412785) 0%, rgba(7,202,158,1) 0%, rgba(9,173,234,1) 100%);
--gradient_gray: linear-gradient(45deg, #000000 0%, #7f8c8d 100%);
--gradient_rev_gray: linear-gradient(-45deg, #000000 0%, #7f8c8d 74%);

--orangered: #FF4500;
--green: #008000;
--brown: #964B00;
--Periwinkle: #8989f7;
--Orange:#FFA500;
--cyanblue: #31b9b9;
--goldenrod: #DAA520;
--apricot: #ea9965;
--Lavender: #a0a0a0;
--black: #000000;
--gray: #D3D3D3;
--gray_dark: #585858;

--black_transparent: rgb(0 0 0 / 0.3);

--white: #FFFFFF;
--mintcream: #F5FFFA;


--black: #000000;
--darkgray:#A9A9A9;
--lightgray: #D3D3D3;
--silver: #C0C0C0;
--lightblack: #464444;

--brown: #A52A2A;
--saddlebrown: #8B4513;
--peru: #CD853F;
--sienna: #A0522D;

--footer_gray:#f1f1f1;
--gray:#767676;
--gray_black:rgba(0,0,0,.5);


--blues: #16151f;
--blue1: #0909bb;
--violent1: #c000ff;


--nav-ornage: rgb(255 255 255 / 40%);
--nav-black: rgb(255 255 255);
--nav-gray: rgb(55 57 58 / 40%);
}